@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #4fc3f7;
    --b: #373737;
    --w: #fafafa;
    --secondary: #ae4ff7;
    --g: #57cc99;
}

body {
    background-color: var(--w);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}
