@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #4fc3f7;
    --b: #373737;
    --w: #fafafa;
    --secondary: #ae4ff7;
    --g: #57cc99;
    --shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
    --r: #f56262;
}

body {
    background-color: var(--w);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

h1 {
    color: #272727;
    margin: 0;
    padding-top: 20px;
    font-weight: 500;
}

@media (max-width: 1000px) {
    /* Styles */
    .homeWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
    }

    .homeRightSide {
        height: 50vh;
    }

    .navButton {
        border-color: var(--b) !important;
        color: var(--b) !important;
    }
}

@media (min-width: 1000px) {
    /* Styles */
    .homeWrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
    }
    .homeRightSide {
        height: 100vh;
    }
}
